<div class="row">
    <main class="col-md-12">
        <br>
        <h2>About</h2>
        <hr />
        <p>This is the about page for the WEB700 Assignment 5 application.</p>
        <p>Developed by Bhavya Goswami.</p>
    </main>
</div>
